<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.haqnawaz.mylearningapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLearningApp"
        tools:targetApi="31">
        <activity
            android:name=".Activity_z"
            android:exported="false" />
        <activity
            android:name=".Activity_y"
            android:exported="false" />
        <activity
            android:name=".Activity_x"
            android:exported="false" />
        <activity
            android:name=".Activity_w"
            android:exported="false" />
        <activity
            android:name=".Activity_v"
            android:exported="false" />
        <activity
            android:name=".Activity_u"
            android:exported="false" />
        <activity
            android:name=".Activity_t"
            android:exported="false" />
        <activity
            android:name=".Activity_s"
            android:exported="false" />
        <activity
            android:name=".Activity_r"
            android:exported="false" />
        <activity
            android:name=".Activity_q"
            android:exported="false" />
        <activity
            android:name=".Activity_p"
            android:exported="false" />
        <activity
            android:name=".Activity_o"
            android:exported="false" />
        <activity
            android:name=".Activity_n"
            android:exported="false" />
        <activity
            android:name=".Activity_m"
            android:exported="false" />
        <activity
            android:name=".Activity_l"
            android:exported="false" />
        <activity
            android:name=".Activity_k"
            android:exported="false" />
        <activity
            android:name=".Activity_j"
            android:exported="false" />
        <activity
            android:name=".Activity_i"
            android:exported="false" />
        <activity
            android:name=".Activity_h"
            android:exported="false" />
        <activity
            android:name=".Activity_g"
            android:exported="false" />
        <activity
            android:name=".Activity_f"
            android:exported="false" />
        <activity
            android:name=".Activity_e"
            android:exported="false" />
        <activity
            android:name=".Activity_d"
            android:exported="false" />
        <activity
            android:name=".Activity_c"
            android:exported="false" />
        <activity
            android:name=".Activity_b"
            android:exported="false" />
        <activity
            android:name=".Activity_a"
            android:exported="false" />
        <activity
            android:name=".QuizModule"
            android:exported="false" />
        <activity
            android:name=".LearningModule"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>